<!--
Author: Jose Aguilar
Student ID : 301119671
Date: 10-11-2020
FileName : bottom_nav.ejs

-->


<!--Bottom Nav-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h5 class="display-6 navbar-text" >&copy; Copyright 2020 . All Rights Reserved - Jose Aguilar</h5>
    </nav>
  </footer>