<!--
Author: Jose Aguilar
Student ID : 301119671
Date: 10-11-2020
FileName : contact_details.ejs

-->
<div class="float-right">
<div class="card" style="width: 18rem;">
    <img src="/Assets/images/bug.png" class="card-img-top" alt="Logo">
    <div class="card-body">
      <h5 class="card-title">Contact Details</h5>
      <p class="card-text">Office Hours 9am - 9pm</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="fas fa-lg fa-phone"></i> 647 655 0308</li>
         
    </ul>
    <div class="card-body">
      <a href = "mailto: test@test.com" class="card-link"><i class="fas fa-lg fa-envelope"></i> test@my.centennialcollege.ca</a>
      
    </div>
  </div>
</div>