<!--
Author: Jose Aguilar
Student ID : 301119671
Date: 10-11-2020
FileName : footer.ejs

-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>

</html>