<!--
Author: Jose Aguilar
Student ID : 301119671
Date: 10-11-2020
FileName : photo.ejs

-->
<!--Photo partial-->
<div class="media">
    <img src="/Assets/images/bug.png" class="mr-3" alt="photo" height="400">
    <div class="media-body">
      <h5 class="mt-0">About Us</h5>
      <p>Bug Busters
        
        <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br><br>
        
        <button type="button" class="btn btn-dark" onclick="window.location.href='/Assets/resume.pdf'">WIP</button>
    
    </p>
    </div>
  </div>