<!--
Author: Jose Aguilar
Student ID : 301119671
Date: 10-11-2020
FileName : photo.ejs

-->
<!--Photo partial-->
<div class="media">
    <img src="/Assets/images/Foto.jpg" class="mr-3" alt="photo" height="400">
    <div class="media-body">
      <h5 class="mt-0">About me</h5>
      <p>My name is Jose Rogelio Aguilar Perdomo
        <br> I was born in Mexico.
        <br>I am getting an Advanced Diploma at Centennial College on
        Software Engineering Technology.<br>
        I also got a Bachelor's Degree in Mechatronics Engineering. <br><br>
        
        <button type="button" class="btn btn-dark" onclick="window.location.href='/Assets/resume.pdf'">Resume</button>
    
    </p>
    </div>
  </div>