<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Jose Aguilar Web Services</h1>
    <p class="lead">Personal portfolio of projects I've worked on.
    </p>
  </div>
</div>

<!-- Content for Main page-->
<main class="container">
  
    <p>This website contains some of the examples I've worked in during my career<br>
      Please feel free to browse at your leisure and do not hesitate to <a href="/contact">Contact Us</a> if <br>
      you have an inquiry.</p>
    <h1 class="display-5"> Mission Statement</h1>
    
    
    <p>In Jose Aguilar Web services we are commited to deliver customized Web and Automation solutions. <br>
      We specialize in <i>Key-in-hand</i> projects, aspiring to achieve the highest standards on the industry,<br>
      reliability and quality. <br>
    </p>
    
  

  <button type="button" class="btn btn-dark" onclick="window.location.href='/about'">About Us</button>
  <button type="button" class="btn btn-dark" onclick="window.location.href='/services'">Services</button>
</main>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>