<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Bug Busters Survey Creator Service</h1>
    <p class="lead">This tool will allow you to create and answer Surveys
    </p>
  </div>
</div>

<!-- Content for Main page-->
<main class="container">
  
    
    <h1 class="display-5"> Survey Creation</h1>
    
    
    <p>Click the button on the Left to view the available Surveys. <br>
      Click the button on the right to create your own Survey.
    </p>
    
  

  <button type="button" class="btn btn-dark" onclick="window.location.href='/survey-list'">Survey List</button>
  <button type="button" class="btn btn-dark" onclick="window.location.href='/survey-list/add'">Create Survey</button>
</main>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>